Source: wiltondb
Priority: optional
Maintainer: WiltonDB Software <info@wiltondb.com>
Build-Depends:
 libantlr4-runtime-dev (>= 1:4.9.3+wiltondb), 
 bison,
 cmake,
 debhelper-compat (= 12),
 flex,
 freetds-dev,
 libicu-dev,
 libkrb5-dev,
 libssl-dev,
 libutfcpp-dev,
 libxml2-dev,
 uuid-dev,
 openjdk-17-jre,
 postgresql-common (>= 1:248+wiltondb3.lts),
 postgresql-server-dev-15 (>= 1:15.4+wiltondb3.lts),
 postgresql-server-dev-15 (<< 1:15.5),
Standards-Version: 4.5.0
Section: database
Homepage: https://wiltondb.com/
Vcs-Browser: https://github.com/wiltondb/babelfish_extensions
Vcs-Git: https://github.com/wiltondb/babelfish_extensions.git

Package: babelfishpg-money
Architecture: any
Depends:
 postgresql-15 (>= 1:15.4+wiltondb3.lts),
 postgresql-15 (<< 1:15.5),
 ${shlibs:Depends},
 ${misc:Depends},
Description: This is a variation of the opensource fixeddecimal extension.
 FixedDecimal is a fixed precision decimal type which provides a subset of
 the features of PostgreSQL's builtin NUMERIC type, but with vastly increased
 performance. Fixeddecimal is targeted to cases where performance and disk
 space are a critical.
 .
 This package contains the babelfishpg_money PostgreSQL extension.

Package: babelfishpg-common
Architecture: any
Depends:
 postgresql-15 (>= 1:15.4+wiltondb3.lts),
 postgresql-15 (<< 1:15.5),
 ${shlibs:Depends},
 ${misc:Depends},
Description: Supports NUMERIC, VARBINARY and other datatypes.
 .
 This package contains the babelfishpg_common PostgreSQL extension.

Package: babelfishpg-tds
Architecture: any
Depends:
 postgresql-15 (>= 1:15.4+wiltondb3.lts),
 postgresql-15 (<< 1:15.5),
 ${shlibs:Depends},
 ${misc:Depends},
Description: Supports Tabular Data Stream (TDS) protocol.
 .
 This package contains the babelfishpg_tds PostgreSQL extension.

Package: babelfishpg-tsql
Architecture: any
Depends:
 postgresql-15 (>= 1:15.4+wiltondb3.lts),
 postgresql-15 (<< 1:15.5),
 babelfishpg-common (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends},
Description: Supports Transact-SQL (T-SQL) language.
 .
 This package contains the babelfishpg_tsql PostgreSQL extension.

Package: wiltondb-pg-hint-plan
Architecture: any
Depends:
 postgresql-15 (>= 1:15.4+wiltondb3.lts),
 postgresql-15 (<< 1:15.5),
 ${shlibs:Depends},
 ${misc:Depends},
Description: Makes it possible to tweak execution plans
 using so-called "hints" in SQL comments.
 .
 This package contains the pg_hint_plan PostgreSQL extension.

Package: wiltondb-tds-fdw
Architecture: any
Depends:
 postgresql-15 (>= 1:15.4+wiltondb3.lts),
 postgresql-15 (<< 1:15.5),
 ${shlibs:Depends},
 ${misc:Depends},
Description:  PostgreSQL foreign data wrapper that can connect to databases
 that use the Tabular Data Stream (TDS) protocol, such as Sybase databases
 and Microsoft SQL server.
 .
 This package contains the tds_fdw PostgreSQL extension.

Package: wiltondb-system-stats
Architecture: any
Depends:
 postgresql-15 (>= 1:15.4+wiltondb3.lts),
 postgresql-15 (<< 1:15.5),
 ${shlibs:Depends},
 ${misc:Depends},
Description:  PostgreSQL extension that provides functions to access system
 level statistics that can be used for monitoring.
 .
 This package contains the system_stats PostgreSQL extension.

Package: wiltondb-pgagent
Architecture: any
Depends:
 postgresql-15 (>= 1:15.4+wiltondb3.lts),
 postgresql-15 (<< 1:15.5),
 ${shlibs:Depends},
 ${misc:Depends},
Description:  PostgreSQL sheduler extension
 .
 This package contains the pgagent PostgreSQL extension.

Package: wiltondb
Architecture: all
Depends:
 postgresql-15 (>= 1:15.4+wiltondb3.lts),
 postgresql-15 (<< 1:15.5),
 babelfishpg-money (= ${binary:Version}),
 babelfishpg-common (= ${binary:Version}),
 babelfishpg-tds (= ${binary:Version}),
 babelfishpg-tsql (= ${binary:Version}),
 wiltondb-pg-hint-plan (= ${binary:Version}),
 wiltondb-tds-fdw (= ${binary:Version}),
 wiltondb-system-stats (= ${binary:Version}),
 wiltondb-pgagent (= ${binary:Version}),
 openssl,
 ${shlibs:Depends},
 ${misc:Depends},
Description: Uses a set of Babelfish extensions to provide the
 capability for PostgreSQL to understand queries from applications written
 for Microsoft SQL Server. WiltonDB understands the SQL Server wire-protocol
 and T-SQL, the Microsoft SQL Server query language.
 .
 This package contains the Babelfish PostgreSQL extensions.
 