#!/usr/bin/make -f

export PG_SRC = $(CURDIR)/postgresql_modified_for_babelfish
export PG_CONFIG = /usr/bin/pg_config

%:
	dh $@

override_dh_auto_build:
	VPATH=$(CURDIR)/contrib/babelfishpg_money \
		$(MAKE) -C $(CURDIR)/contrib/babelfishpg_money
	VPATH=$(CURDIR)/contrib/babelfishpg_common \
		$(MAKE) -C $(CURDIR)/contrib/babelfishpg_common
	VPATH=$(CURDIR)/contrib/babelfishpg_tds \
		$(MAKE) -C $(CURDIR)/contrib/babelfishpg_tds
	VPATH=$(CURDIR)/contrib/babelfishpg_tsql \
		ANTLR4_JAVA_BIN=/usr/bin/java \
		$(MAKE) -C $(CURDIR)/contrib/babelfishpg_tsql
	VPATH=$(CURDIR)/extensions/pg_hint_plan \
		$(MAKE) -C $(CURDIR)/extensions/pg_hint_plan
	VPATH=$(CURDIR)/extensions/tds_fdw \
		$(MAKE) -C $(CURDIR)/extensions/tds_fdw
